body {
	  padding: 40px 40px;
	    background-color: #eee;
    }
    .listing-reg h1 {
	      text-align: center;
	        margin: 0 0 2rem;
	}

	.listing-reg h3 {
		text-align: center;
		margin: 0 0 2rem;
		padding-top: 40px;

	}
	
	.del-registration {
		padding-top: 40px;
	}





	/* css for registration form and errors*/
	.form-registration {
		  max-width: 330px;
		    padding: 15px;
		      margin: 0 auto;
	      }
	      .form-registration {
		        display: flex;
			  flex-wrap: wrap;
		  }
		  .form-registration input {
			    width: 100%;
			      margin: 0px 0 10px;
		      }
		      .form-registration .btn {
			        flex: 1 0 100%;
			}
			.my-errors {
				  margin: 0 auto;
				    padding: 0;
				      list-style: none;
				        color: #333;
					  font-size: 1.2rem;
					    display: table;
				    }
				    .my-errors li {
					      margin: 0 0 1rem;
				      }
				      .my-errors li:before {
					        content: "! Error : ";
						  color: #f00;
						    font-weight: bold;
					    }

					    /* Styles for listing table */
					    .listing-table {
							  width: 100%;
							  padding: 0 0 2rem;
					      }
					      .listing-table th,
					      .listing-table td {
						        padding: 10px 40px;
							  border-bottom: 1px solid #666;
						  }
						  .listing-table th {
							    background: #000;
							      color: #fff;
						      }
						      .listing-table td:first-child,
						      .listing-table th:first-child {
							        border-right: 1px solid #666;
							}
